@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

*, *::before, *::after { box-sizing: border-box; }

.app-container {
    width: 100%;
    max-width: 425px;
    height: 100vh;
    max-height: 800px;
    position: relative;
    overflow: hidden; 
    background-color: #f7f3ed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; 
}

.hidden-screen {
    transform: translateX(100%);
    z-index: 1;
}

.active-screen {
    transform: translateX(0);
    z-index: 10;
}

#screen2, #screen3, #screen4 {
    background-color: #f7f3ed; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 0; 
}

/* screen-1 */
#screen1 {
    background-image: url('images/hero.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: 000;
}

#screen1 h1 {
    font-family: "Nothing You Could Do", cursive;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.3em;
    margin-left: 0.2em;

}

#screen1 h2 {
    font-weight: 400;
    margin: 0;
}

.button {
    padding: 18px 110px;
    border: none;
    background-color: #6A6360; 
    color: #DDDCDA;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 180px;
}

/* screen-2 */

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #6A6360;
    padding: 5px;
    z-index: 15;
}

.content-screen2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    padding-top: 50px;
}

#screen2 h3 {
    margin-bottom: 50px;
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: 400;
    color: #5d5c5a;
}

.moodboard-options {
    width: 90%;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.options-tile {
    background-color: white;
    border: 1px solid #e0dbd5; 
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.1s;
}

.options-tile:hover {
    transform: translateY(-2px); 
}

.tile-image {
    height: 150px; 
    width: 100%;
    background-color: #d1cbc3; 
    background-size: cover;
    background-position: center;
}

.options-tile p {
    text-align: center;
    color: #6A6360;
    font-weight: bold;
    padding: 15px 0;
    margin: 0;
}

.tile-image {
    background-size: cover;
    background-position: center;
    display: flex;
}

.tile-image-1 {
    background-image: url('images/frame-8.jpg'); 
}

.tile-image-2 {
    background-image: url('images/frame-9.jpg'); 
}

.bottom-nav {
    width: 100%;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f7f3ed; 
    padding-bottom: 10px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}

.nav-icon {
    width: 40px;
    height: 40px;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px;
    height: auto;
}

/* screen-3 */
.gallery-wrapper {
    position: relative;
    width: 90%;
    margin: 80px 20px 0 20px;
}

.overlay-ui {
    position: absolute;
    top: 30px;
    right: 7px;
    width: 70%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lorem-select {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.color-palette {
    display: flex;
    gap: 10px;

    .color-box {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        font-size: 0.5em;
        position: relative;

        .hex-code {
            position: relative;
            top: 40px;  
        }
    }
}

.dot {
    width: 65px;
    height: 65px;
    background-color: #8a8a8a;
    border-radius: 50%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    width: 100%;
}

.box {
    background-color: #e2e2df;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.tall-left {
    grid-column: 1;
    grid-row: 1;
    height: 250px;
    width: 180px;
}

.box.empty {
    grid-column: 2;
    grid-row: 1;
    background: transparent; 
}

.box.square-mid {
    width: 138px;
}

.box.square-mid-left {
    grid-column: 1;
    grid-row: 2;
    aspect-ratio: 1 / 1;
}

.box.square-mid-right {
    grid-column: 2;
    grid-row: 2;
    aspect-ratio: 1 / 1;
    position: relative;
    left: -42px;
}

.box.wide-bottom {
    grid-column: span 2;
    height: 120px;
    width: 87%;
}

/* screen-4 */
#screen4 {
  background-color: #f7f3ed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  min-height: 100vh;
  padding: 0;

  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#screen4 .frame-content {
  margin-top: 70px;
  display: grid;
  justify-items: center;
  row-gap: 20px;
  overflow: hidden;
}

.main-hero-image {
    width: 100%;
    height: 200px;
    background-color: #e0e0de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lorem-select-v2 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    border: none;
    background: transparent;
    width: 100%;
    text-align: center;
}

.icon-selector {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  gap: 25px;
  justify-content: center;
}

.icon-option {
  width: 40px;
  aspect-ratio: 1 / 1;
  background-color: #7d7c7a;
  border-radius: 4px;
}

.button-variants {
  display: grid;
  row-gap: 10px;
  padding: 0 20px;
}

.btn-variant {
    width: 90vw;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-variant.dark { background-color: #6d6c6a; color: white; }
.btn-variant.light { 
    background-color: #e2e2df; 
    color: #6d6c6a; 
    border: 1px solid #ccc; 
}

.font-dropdown-section {
    width: 90vw;
}

.palette-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5px;
  width: 90vw;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  justify-content: center;
}

.color-box {
  display: grid;
  align-content: end;
  justify-items: center;
  padding-bottom: 15px;
  color: #333;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  background-color: var(--color, #ccc);
  transition: all 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.color-picker, .hex-input {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 90%;
    text-align: center;
    transition: opacity 0.2s;
}

.color-box.active .hex-code { display: none; }

.color-box.active .color-picker,
.color-box.active .hex-input {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.hex-input {
    padding: 5px;
    font-size: 12px;
    border: 1px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
}


#screen4 .bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.dynamic-image-picker {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    gap: 10px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.picker-option {
    width: 80px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #eee;
    transition: transform 0.2s, border-color 0.2s;
}

.picker-option:hover {
    transform: scale(1.05);
    border-color: #788585;
}

.inserted-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* font-pick styles */
.fontpick{ 
    position:relative; 
    display:inline-block; 
    margin-bottom: 25px;
}
  .fontpick__trigger{
    display:inline;         
    cursor:pointer;
    user-select:none;
    font: inherit;
    /* font-size: 30px; */
    /* filter: drop-shadow(2px 4px 6px black); */
  }
  .fontpick__trigger:focus{ outline:none; }
  .fontpick__trigger:focus-visible{
    outline: 2px solid currentColor;
    outline-offset: 4px;
    border-radius: 6px;
  }

  .fontpick__menu{
    position:absolute; top:calc(100% + 8px); left:0;
    list-style:none; margin:0; padding:6px;
    background:#fff; border:1px solid rgba(0,0,0,.1);
    border-radius:12px; box-shadow:0 10px 30px rgba(0,0,0,.15);
    display:none; z-index:999;
    min-width: 150px;
  }
  .fontpick.open .fontpick__menu{ display:block; }

  .fontpick__menu li{
    padding:10px; border-radius:10px; cursor:pointer; white-space:nowrap;
  }
  .fontpick__menu li:hover{ background:rgba(0,0,0,.06); }

 